In [1]:
#Dependencies
import pandas as pd
import json
import requests
from pprint import pprint
import csv

In [2]:
#Data

In [7]:
# reading csv file into a pandas data frame
crime_data_2013 = pd.read_csv("Resources/Crimes_-_2013.csv")
crime_data_2014 = pd.read_csv("Resources/Crimes_-_2014.csv")
crime_data_2015 = pd.read_csv("Resources/Crimes_-_2015.csv")
crime_data_2016 = pd.read_csv("Resources/Crimes_-_2016.csv")
crime_data_2017 = pd.read_csv("Resources/Crimes_-_2017.csv")
crime_data_2018 = pd.read_csv("Resources/Crimes_-_2018.csv")
stat_data = pd.read_csv("Chi_stat_data.csv")

In [9]:
#Combine Crime Data
crime_data = [crime_data_2013,crime_data_2014,crime_data_2015,crime_data_2016,crime_data_2017]
crime_data = pd.concat(crime_data,axis = 0)
crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11227517,JB138481,02/10/2013 12:00:00 AM,071XX S LAFAYETTE AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,6.0,69.0,02,NaN,NaN,2013,02/11/2018 03:57:41 PM,NaN,NaN,NaN
1,11042141,JA376559,05/16/2013 12:00:00 AM,003XX W 64TH ST,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,HOSPITAL BUILDING/GROUNDS,False,False,...,20.0,68.0,11,NaN,NaN,2013,08/05/2017 03:50:08 PM,NaN,NaN,NaN
2,11042759,JA376850,07/08/2013 04:10:00 PM,056XX N KENMORE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,48.0,77.0,11,NaN,NaN,2013,08/05/2017 03:50:08 PM,NaN,NaN,NaN
3,11042911,JA376915,01/01/2013 12:00:00 PM,034XX N WESTERN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,BANK,False,False,...,47.0,5.0,11,NaN,NaN,2013,08/05/2017 03:50:08 PM,NaN,NaN,NaN
4,9087757,HW232654,04/14/2013 02:23:00 AM,032XX N SHEFFIELD AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,True,False,...,44.0,6.0,02,1169041.0,1921593.0,2013,02/12/2018 03:46:59 PM,41.940371,-87.654122,"(41.940370659, -87.654122097)"

In [10]:
#Education Data
stat_data_clean = stat_data.rename(columns={"Community Area Number":"Community Area"})
#Show Columns
stat_data_clean.head()

,Community Area,COMMUNITY AREA NAME,Population,Non Family Households,No Highschool Education,Never Married,Median Income,Square Miles
0,1,Rogers Park,52000,59%,13%,55%,39468,0.823
1,2,West Ridge,19267,19%,4%,25%,103473,3.487
2,3,Uptown,67634,68%,9%,57%,44819,2.333
3,4,Lincoln Square,80080,43%,17%,47%,52139,1.591
4,5,North Center,139945,56%,9%,50%,62234,1.126

In [11]:
# narrowing the table to relevant fields, still have to decide which one to use to be the geographical reference
crime_geo_data = crime_data[["Date", "Block", "Primary Type", "District", "Ward", "Community Area", "Latitude", "Longitude", "Year"]]
crime_geo_data.head()

,Date,Block,Primary Type,District,Ward,Community Area,Latitude,Longitude,Year
0,02/10/2013 12:00:00 AM,071XX S LAFAYETTE AVE,CRIM SEXUAL ASSAULT,7.0,6.0,69.0,NaN,NaN,2013
1,05/16/2013 12:00:00 AM,003XX W 64TH ST,DECEPTIVE PRACTICE,7.0,20.0,68.0,NaN,NaN,2013
2,07/08/2013 04:10:00 PM,056XX N KENMORE AVE,DECEPTIVE PRACTICE,20.0,48.0,77.0,NaN,NaN,2013
3,01/01/2013 12:00:00 PM,034XX N WESTERN AVE,DECEPTIVE PRACTICE,19.0,47.0,5.0,NaN,NaN,2013
4,04/14/2013 02:23:00 AM,032XX N SHEFFIELD AVE,CRIM SEXUAL ASSAULT,19.0,44.0,6.0,41.940371,-87.654122,2013